@import "../mixins";

.header {
  border: 2px solid #a9a9a9;
  border-radius: 10px;
  padding: 30px 37px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  @include for-size(phone-only) {
    width: 80%;
    padding: 20px 26px;
    margin-bottom: 45px;
  }

  @include for-size(tablet-landscape-up) {
    margin-bottom: 50px;
    width: 700px;
  }
}

.score {
  background: white;
  border-radius: 10px;
  width: 151px;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  @include for-size(phone-only) {
    width: 100px;
    height: 100%;
    padding-top: 10px;
  }
}

.scoreText {
  font-size: 18px;
  color: #2a46c0;
  font-weight: bold;
  align-items: center;
  @include for-size(phone-only) {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
}

.count {
  font-size: 57px;
  font-weight: bold;
  line-height: 1;
  color: #3b4363;
  @include for-size(phone-only) {
    font-size: 90px;
    line-height: 79px;
  }
}

@include for-size(tablet-landscape-up) {
  .score {
    width: 127px;
    height: 140px;
    padding: 5px 0;
  }
  .scoreText {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .count {
    font-size: 90px;
    line-height: 80px;
  }
}
