@import "mixins";

.firstStepContainer {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-size(phone-only) {
    width: 85%;
  }

  // tablet
  @include for-size(tablet-landscape-up) {
    width: 50%;
  }

  //desktop resolution
  @include for-size(desktop-up) {
    width: 50%;
  }

  // @media only screen and (min-width: 1920px) {
  //   width: 30%;
  // }

  button {
    border: none;
    background: none;
  }
  .triangleContainer {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 33%;
    @include for-size(phone-only) {
      width: 80%;
    }
    @include for-size(tablet-landscape-up) {
      width: 50%;
    }
    @include for-size(desktop-up) {
      width: 50%;
    }
  }

  .triangleContainer > div:first-child {
    width: 24vw;
    @include for-size(phone-only) {
      width: 78vw;
    }
    @include for-size(tablet-landscape-up) {
      width: 40vw;
    }
    @include for-size(desktop-up) {
      width: 31vw;
    }
  }

  .paperAndScissorsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    position: relative;
    z-index: 1;
  }

  .rockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .paperWrapper {
    background: #5671f5;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 0px 0px #384ba7;
  }

  .scissorsWrapper {
    background: #ec9e0e;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 0px 0px #9c721d;
  }

  .rockWrapper {
    background: #dc2e4e;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 0px 0px #bb2742;
  }

  .paper,
  .scissors,
  .rock {
    background: white;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  //mobile resolution
  @include for-size(phone-only) {
    .paperWrapper,
    .scissorsWrapper,
    .rockWrapper {
      width: 125px;
      height: 125px;
    }
    .paper,
    .scissors,
    .rock {
      width: 90px;
      height: 90px;
    }

    .paper div:first-child {
      height: 8vh;
      width: 12vw;
    }
    .scissors div:first-child {
      height: 8vh;
      width: 12vw;
    }
    .rock div:first-child {
      height: 8vh;
      width: 12vw;
    }
  }

  //tablet resolution

  // @include for-size(tablet-landscape-up) {
  //   .triangleContainer {
  //     // width: 50%;
  //   }
  //   .triangleContainer div:first-child {
  //     width: 40vw;
  //   }
  //   .paperWrapper,
  //   .scissorsWrapper,
  //   .rockWrapper {
  //     width: 150px;
  //     height: 150px;
  //   }
  //   .paper,
  //   .scissors,
  //   .rock {
  //     width: 100px;
  //     height: 100px;
  //   }
  // }

  //desktop

  @media only screen and (min-width: 1920px) {
    .paperWrapper,
    .scissorsWrapper,
    .rockWrapper {
      width: 170px;
      height: 170px;
    }
    .paper,
    .scissors,
    .rock {
      width: 125px;
      height: 125px;
    }
  }

  .triangle {
    position: absolute;
  }
}
