html,
body {
  padding: 0;
  margin: 0;
  font-family: "https://fonts.google.com/specimen/Barlow+Semi+Condensed";
  font-weight: 700;
  background: #1f3756;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
